.advantages {
    min-height: 470px;
    padding: 70px 0 80px 0;
    background-color: #F6F6F6;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &_subtitle {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
    }
    &_descr {
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        width: 277px;
        a {
            color: #FF0000;
            text-decoration: underline;
        }
    }
}